@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: verdana;
	background-color: #E6E6E6
}

header {
	width: 960px;
	height: 75px;
	margin: 25px auto;
	padding: 25px;
	background-color: #FFF;
	border: 1px solid #FFFF00;
	border-radius: 5px;
}

section {
	width: 960px;
	height: 300px;
	margin: 25px auto;
	padding: 25px;
	background-color: #FFF;	
	border: 1px solid #FFFF00;
	border-radius: 5px;
}

footer {
	width: 960px;
	height: 75px;
	margin: 25px auto;
	padding: 25px;
	background-color: #FFF;
	border: 1px solid #FFFF00;
	border-radius: 5px;
}

h1, h4 {
	text-align: center;
}


